body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:transparent; 
    color: #fff; 
}

.header {
    background-color:transparent ;
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.about-content {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: transparent; /* Bright green background */
    border-radius: 8px;
    border: groove 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-content h1 {
    color:whitesmoke;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    font-size:20px ;
}

.about-content p {
    line-height:1.6;
    margin-bottom:20px;
    text-align: left;
    font-size: 16px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color:none; 
    color: navajowhite;
    /* margin-top: 60px; */
    font-size: 15px ;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.header {
    background-color:transparent; /* Light green background */
    padding: 10px 0;
}

.navbar-brand {
    display: inline-block; /* Align logo with the nav items */
    margin-left: 20px;
}

.navbar {
    display: flex;
    justify-content: center; /* Center the navbar content */
}

.navbar-collapse {
    display: flex; /* Use flexbox for layout */
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin: 0 15px; /* Space between nav items */
}

.nav-link {
    color: antiquewhite; /* Black text for links */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make text bold */
    padding: 8px 15px; /* Add some padding */
}

.nav-link:hover {
    text-decoration: underline; /* Underline on hover */
}

.nav-link.active {
    border-bottom: 2px solid #3b7a3b; /* Highlight active link */
}

p{
    font-size: 16px;
    text-align: left;
}